
		#container{
			
			margin-top:0px;
		}

		/* Bordered form */
		form {
			width:65%;
			padding: 10px;
			background: #f1e6e6;
	
		}

		#diama
		{
			display:none;
		}
		b
		{
			font-weight: bold;
		}
		.deca
		{
		margin-left:20px;
		
		}
		.deca1
		{
		margin-left:-15px;
		
		}
		.deca19
		{
		margin-left:25px;
		
		}
		.deca100
		{
		margin-left:3px;
		
		}
		.tabb900
		{
		width: 100%;
		
		/*box-shadow:0px 1px 0px blue;*/
		
		}
		.tabb990
		{
		width: 100%;
		
		
		
		}
		.tabb90
		{
		width: 100%;
		
		
		}
		#container h1{
			width: 38%;
			margin: 0 auto;
			padding-bottom: 1px;
		}

		/* Full-width inputs */
		input[type=text], input[type=password], input[type=date],input[type=tel],input[type=email] {
			width: 100%;
			padding: 9px 10px;
			display: inline-block;
			border-radius: 10px;
			box-sizing: border-box;
		}

		/* Set a style for all buttons */
		input[type=submit] {
			background-color: #53af57;
			color: white;
			padding: 10px 20px;
			margin: 0px 80px;
			border: none;
			cursor: pointer;
			width: 30%;
		}
		input[type=reset] {
			background-color: red;
			color: white;
			padding: 10px 20px;
			margin: 0px 40px;
			border: none;
			cursor: pointer;
			width: 40%;
			
		}

		input[type=submit]:hover {
			background-color: white;
			color: #53af57;
			
		}
		input[type=reset]:hover {
			background-color: white;
			color: red;
			
		}
	th
		{
		
		border: 1px solid red;
		padding-left:0px;
		font-family:georgia;
		}
		.affich
		{
		background-color:silver;
		font-family:georgia;
		}
		.affich1
		{
		font-size:0.9em;
		font-weight:bold;
		font-family:georgia;
		color:green;
		}


		
        /* Remove the blur on hover for better visibility */
        #readOnlyInput:hover {
            filter: none;
        }



		
